body{
margin: 0;
font-family: "Source Sans 3", sans-serif;
height: 100vh;
}

/* Top Nav */

nav, nav a, #nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0E0E0E;
}

nav{
    padding: 10px 20px 20px;
}

.logo{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 800;
}

#logo-icon{
    width: 32px;
    height: 32px;
}

#nav-links{
    padding: 0 20px;
    gap: 50px;
    font-size: 18px;
}

/* Main Content Section */

main, #recent-posts{
    padding: 20px 20px;
}

.blog-main-banner, .recent-post-carousel img{
    max-width: 100%;
    border-radius: 5px;
}

/* Recent Posts */

aside h3{
    text-align: center;
    margin: 1px;
}

.recent-post-carousel{
    text-align: left;
    cursor: pointer;
    margin-bottom: 35px;
}

#recent-posts a{
    text-decoration: none;
    color: #0E0E0E;
}

.recent-post-carousel h4, p{
    margin: 5px 0;
}

.recent-post-carousel time{
    font-size: 14px;
}

.recent-post-carousel h4{
    font-size: 20px;
}

.recent-post-carousel p{
    color: #505050;
}

/* Footer */
footer{
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}
footer p{
    margin: 0;
}