html, body{
margin: 0;
font-family: "Source Sans 3", sans-serif;
height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Top Nav */
nav, nav a, #nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0E0E0E;
}

nav{
    padding: 0.625em 1.25em 0.5em;
    background-color: white;
}

.logo{
    font-family: "Roboto", sans-serif;
    font-size: 1.125em;
    font-weight: 800;
}

#logo-icon{
    width: 2em;
    height: 2em;
}

#nav-links{
    gap: 2em;
    font-size: 1.125em;
}

#menu-btn{
    display: none;
}

#close-menu-btn{
    display: none;
}

/* Main Content Section */

main{
    padding: 1.5em;
}

#author-img{
width: 11.25em;
height: 11.25em;
border-radius: 55%;
display: block;
margin: auto;
}

h1{
    font-size: 1.5em;
    line-height: 1.125em;
}

main h2{
     font-size: 1.25em;
}

p{
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 0.5em;
}

/* Recent Posts */

aside h3{
    text-align: center;
    margin: 0;
}

#recent-posts{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    padding: 1.5em;
}

.recent-post-carousel{
    text-align: left;
    cursor: pointer;
}

.recent-post-carousel img{
    width: 100%;
    border-radius: 3px;
}

#recent-posts a{
    text-decoration: none;
    color: #0E0E0E;
}

.recent-post-carousel h4, p{
    margin: 0.3125em 0;
}

.recent-post-carousel time{
    font-size: 0.875em;
}

.recent-post-carousel h4{
    font-size: 1.25em;
}

.recent-post-carousel p{
    color: #505050;
}

/* Footer */
footer{
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 1.25em;
    font-size: 0.75em;
}
footer p{
    margin: 0;
}

@media (max-width: 499px){

#menu-btn{
    display: block;
    cursor: pointer;
}

#menu-btn img{
    width: 25px;
    height: 25px;
}

#close-menu-btn{
    display: block;
    align-self: self-end;
    font-weight: 900;
    cursor: pointer;
}

nav, .logo a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0E0E0E;
}

#nav-links{
    background-color: #FAFAFA;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: min(10em, 50%);
    font-size: 1.125em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5em;
    padding-top: 2em;
    display: none;
}

#nav-links a{
    text-align: center;
    text-decoration: none;
    color: #0E0E0E;
}
}

@media(min-width: 500px){
    #nav-links {
    display: flex !important;
  }
}

@media (min-width: 768px){
    #recent-posts
    {
    grid-template-columns: repeat(3,auto);
    }

    main{
        display: grid;
        grid-template: repeat(2,auto)/repeat(19,1fr);
        grid-row-gap: 1em;
    }

    main, aside{
        background-color: #FAFAFA;
    }

    h1{
        font-size: 2.5em;
    }

    main h2{
        font-size: 1.5em;
    }

    main p{
        font-size: 1.125em;
    }

    #author{
        display: flex;
        grid-column: 1/20;
        gap: 2em;
    }

    #content-section{
         grid-column: 2/19;
    }

}