body{
margin: 0;
font-family: "Source Sans 3", sans-serif;
}

/* Top Nav */

nav, nav a, #nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0E0E0E;
}

nav{
    padding: 10px 20px 20px;
}

.logo{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 800;
}

#logo-icon{
    width: 32px;
    height: 32px;
}

#nav-links{
    padding: 0 20px;
    gap: 50px;
    font-size: 18px;
}

/* Main Content Section */

main{
    padding: 20px 20px;
}

.blog-main-banner{
    max-width: 100%;
    border-radius: 5px;
}

/* Recent Posts */

aside{
    text-align: center;
}

/* Footer */
footer{
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}
footer p{
    margin: 0;
}