html, body{
margin: 0;
padding: 0;
font-family: "Source Sans 3", sans-serif;
height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Top Nav */

nav, nav a, #nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0E0E0E;
}

nav{
    padding: 0.625em 1.25em 0.5em;
    background-color: white;
}

.logo{
    font-family: "Roboto", sans-serif;
    font-size: 1.125em;
    font-weight: 800;
}

#logo-icon{
    width: 2em;
    height: 2em;
}

#nav-links{
    gap: 2em;
    font-size: 1.125em;
}

/* Main Content Section */

main{
    padding: 1.5em;
}

.blog-main-banner, .recent-post-carousel img{
    width: 100%;
    border-radius: 0.3125em;
}

h1{
    font-size: 1.75em;
    line-height: 1.25em;
}

main h2{
     font-size: 1.25em;
}

main p{
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 0.5em;
}

/* Recent Posts */

aside h3{
    text-align: center;
    margin: 0;
}

#recent-posts{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    padding: 1.5em;
}

.recent-post-carousel{
    text-align: left;
    cursor: pointer;
}

.recent-post-carousel img{
    width: 100%;
    border-radius: 3px;
}

#recent-posts a{
    text-decoration: none;
    color: #0E0E0E;
}

.recent-post-carousel h4, p{
    margin: 0.3125em 0;
}

.recent-post-carousel time{
    font-size: 0.875em;
}

.recent-post-carousel h4{
    font-size: 1.25em;
}

.recent-post-carousel p{
    color: #505050;
}

/* Footer */
footer{
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 1.25em;
    font-size: 0.75em;
}
footer p{
    margin: 0;
}

/* Media Quries */

@media (min-width: 768px){
    #recent-posts
    {
    grid-template-columns: repeat(3,auto);
    }

    main{
        display: grid;
        grid-template: auto/repeat(19,1fr);
    }

    main, aside{
        background-color: #FAFAFA;
    }

    h1{
        font-size: 2.5em;
    }

    main h2{
        font-size: 1.5em;
    }

    main p{
        font-size: 1.125em;
    }

    .blog-main-banner{
        grid-column: 1/20;
    }

    time{
        grid-column: 2/5;
    }

    main h1, h2, p{
         grid-column: 2/18;
    }

}