html, body{
margin: 0;
padding: 0;
font-family: "Source Sans 3", sans-serif;
height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Top Nav */

nav, nav a, #nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0E0E0E;
}

nav{
    padding: 0.625em 1.25em 0.5em;
    background-color: white;
}

.logo{
    font-family: "Roboto", sans-serif;
    font-size: 1.125em;
    font-weight: 800;
}

#logo-icon{
    width: 2em;
    height: 2em;
}

#nav-links{
    gap: 2em;
    font-size: 1.125em;
}

#menu-btn{
    display: none;
}

#close-menu-btn{
    display: none;
}


h1{
    text-align: center;
    margin: 0;
    font-size: 1.125em;
}

/* Hero Section */

#hero-section{
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table-cell;
    vertical-align: bottom;
    padding: 0.9375em;
}

#hero-post a{
    color: white;
    text-decoration: none;
    text-shadow: 0.125em 0.125em 0.0625em rgba(0, 0, 0, 0.5);
}

#hero-post h2, p{
    margin: 0.3125em 0;
}

#hero-post time{
    font-size: 0.875em;
}

#hero-post h2{
    font-size: 1.875em;
}

/* Recent Posts Section */

#recent-posts{
    padding: 1.25em 1.25em;
}

/* Recent Posts */

#recent-posts{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    padding: 1.5em;
}

.recent-post-carousel{
    text-align: left;
    cursor: pointer;
}

.recent-post-carousel img{
    max-width: 100%;
    border-radius: 0.3125em;
}

#recent-posts a{
    text-decoration: none;
    color: #0E0E0E;
}

.recent-post-carousel h3, p{
    margin: 0.3125em 0;
}

.recent-post-carousel time{
    font-size: 0.875em;
}

.recent-post-carousel h4{
    font-size: 1.25em;
}

.recent-post-carousel p{
    color: #505050;
}

#v-more-btn{
    background-color: inherit;
    display: block;
    margin: 0 auto 1em;
    text-decoration: underline;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

/* Footer */
footer{
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 1.25em;
    font-size: 0.75em;
}
footer p{
    margin: 0;
}


/* Media Queries */

@media (max-width: 499px){

#menu-btn{
    display: block;
    cursor: pointer;
}

#menu-btn img{
    width: 25px;
    height: 25px;
}

#close-menu-btn{
    display: block;
    align-self: self-end;
    font-weight: 900;
    cursor: pointer;
}

nav, .logo a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0E0E0E;
}

#nav-links{
    background-color: #FAFAFA;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: min(10em, 50%);
    font-size: 1.125em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5em;
    padding-top: 2em;
    display: none;
}

#nav-links a{
    text-align: center;
    text-decoration: none;
    color: #0E0E0E;
}
}

@media(min-width: 500px){
    #nav-links {
    display: flex !important;
  }
}

@media (min-width: 768px) {

    body {
        background-color: #FAFAFA;
    }

    #recent-posts
    {
    grid-template-columns: repeat(3,auto);
    margin-top: 0.5em;
    }

    #hero-section{
        width: 100vw;
        height: 80vh;
    }

    #hero-section div{
     padding: 3.125em;
     font-size: 1em;
    }

    h1{
        font-size: 1.5em;
    }

    #hero-section h2{
        font-size: 3em;
    }
    
}