body{
margin: 0;
font-family: "Source Sans 3", sans-serif;
height: 100vh;
}

/* Top Nav */

nav, nav a, #nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0E0E0E;
}

nav{
    padding: 0.625em 1.25em 0.5em;
    background-color: white;
}

.logo{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 800;
}

#logo-icon{
    width: 32px;
    height: 32px;
}

#nav-links{
    padding: 0 20px;
    gap: 50px;
    font-size: 18px;
}

h1{
    text-align: center;
    margin: 0;
    font-size: 1.125em;
}

/* Hero Section */

#hero-section{
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table-cell;
    vertical-align: bottom;
    padding: 15px;
}

#hero-post a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

#hero-post h2, p{
    margin: 5px 0;
}

#hero-post time{
    font-size: 14px;
}

#hero-post h2{
    font-size: 30px;
}

/* Recent Posts Section */

#recent-posts{
    padding: 20px 20px;
}

/* Recent Posts */

#recent-posts{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    padding: 1.5em;
}

.recent-post-carousel{
    text-align: left;
    cursor: pointer;
}

.recent-post-carousel img{
    max-width: 100%;
    border-radius: 5px;
}

#recent-posts a{
    text-decoration: none;
    color: #0E0E0E;
}

.recent-post-carousel h3, p{
    margin: 5px 0;
}

.recent-post-carousel time{
    font-size: 14px;
}

.recent-post-carousel h4{
    font-size: 20px;
}

.recent-post-carousel p{
    color: #505050;
}

/* Footer */
footer{
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}
footer p{
    margin: 0;
}


/* Media Queries */

@media (min-width: 768px) {

    main {
        background-color: #FAFAFA;
    }

    #recent-posts
    {
    grid-template-columns: repeat(3,auto);
    margin-top: 0.5em;
    }

    #hero-section{
        width: 100vw;
        height: 80vh;
    }

    #hero-section div{
     padding: 50px;
     font-size: 1em;
    }

    h1{
        font-size: 1.5em;
    }

    #hero-section h2{
        font-size: 3em;
    }
    
}